* {
    list-style: none;
    box-sizing: border-box;
  }


body {
    height: 145vh;
    position: relative;
    background-color: #fffefe;
    /*background: linear-gradient(45deg,#b4be2d,#4299c2,#3a8138);*/
   /* background-color: rgb(250, 249, 248);*/
    font-family: 'Garamond', 'Times New Roman', serif;
    color: #333;
    animation: cambiar 16s ease infinite;
}

#Header {
    background-color: rgb(8, 71, 113);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
     /* Puedes ajustar el color de fondo según tu diseño */
    z-index: 1000;
  }

.logo {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }

.logo img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }

.navigation {
    display: flex;
  }

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .navigation li {
    margin-right: 20px;
    position: relative;
  }

  .navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    display: block;
    padding: 10px;
  }

  .navigation a:hover {
    color: #FFDD00;
  }

  .navigation ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border-radius: 0 0 5px 5px;
  }

  .navigation ul li:hover > ul {
    display: inherit;
  }
  
  .navigation ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
  }


  /* Estilos para la Sección de Información de la Facultad */
  .seccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }

  .modulo {
    flex: 1 0 calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .boton {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .boton:hover {
    background-color: #2980b9;
  }





  /* ---------------------------------------------------------- */
.footer {
  background-color:rgb(8, 71, 113);
  color: #fff;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.columna {
  flex: 1;
  max-width: 300px;
  padding: 0 10px;
}

.columna img {
  width: 170px;
  height: 170px;
  margin-right: 10px;
}

h4 {
  margin-bottom: 10px;
  border-bottom: 2px solid #00c3ff;
}

.columna ul li {
  margin-bottom: 10px; /* Espaciado de 10px entre elementos de la lista */
}
ul {
  list-style: none;
  
  padding: 0;
}

.social a {
  color: #fff;
  margin-right: 10px;
  
}