body {
  height: 145vh;
  position: relative;
 /* background: linear-gradient(45deg,#C02126,#3F90CE,#009036);*/
  background-size: 600% 600%;
  /*background: linear-gradient(45deg,#b4be2d,#4299c2,#3a8138);*/
  background-color: rgb(27, 26, 25);
  font-family: 'Gill Sans MT';
  color: #333;
  animation: cambiar 16s ease infinite;
  color: aliceblue;
}
#Header {
  background-color: rgb(8, 71, 113);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
   /* Puedes ajustar el color de fondo según tu diseño */
  z-index: 1000;
}

.logo {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.navigation {
  display: flex;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navigation li {
  margin-right: 20px;
  position: relative;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  display: block;
  padding: 10px;
}

.navigation a:hover {
  color: #FFDD00;
}

.navigation ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  border-radius: 0 0 5px 5px;
}

.navigation ul li:hover > ul {
  display: inherit;
}

.navigation ul ul li {
  width: 200px;
  float: none;
  display: list-item;
  position: relative;
}

a {
  text-decoration: none;
  color: rgb(210, 217, 226);
}

.fotoUce {
  width: auto;
  height: 420px;
  background-color: yellowgreen;
  overflow: hidden; /* Para ocultar el exceso de imagen si es necesario */
}
.infoUCE {
  position: relative;
  width: 100%;
  height: 400px; /* Ajusta la altura según sea necesario */
  background-image: url(/Inicio/Imagenes/siete.jpg); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la sección */
  background-position: center; /* Centra la imagen */
  color: white; /* Color del texto, puedes ajustarlo según tu diseño */
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrado{
  text-align: center;
}
.centrado .frase{
  margin: 0 60px; /* Ajusta el valor según sea necesario */
}

.seccion-imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crear 3 columnas de tamaño igual */
  gap: 20px; /* Espaciado entre las imágenes (ajusta según sea necesario) */
  
  width: auto;  /* AJUSTO EL TAMANIO EN VERTICAL DE MI S4ECCION, EN ESTE CASO SE AJUSTA A LA IMG */
  background-color: #13120c;

}

.seccion-imagenes h1{
 
  text-align: center;
  padding: 50% 0;
}

.seccion-imagenes .N{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Imagenes/n1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #333;
  padding: 50px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
  color:rgb(249, 250, 250);
}

.seccion-imagenes .G{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Imagenes/g1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #333;
  padding: 30px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: border-color 0.3s ease-in-out;
  color:rgb(249, 250, 250);
}


.seccion-imagenes .P{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Imagenes/p1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  color: rgb(248, 243, 243);
  border: 2px solid #333;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
  color:rgb(249, 250, 250);
}

.seccion-imagenes .N:hover{
  background-image: url(Imagenes/n1.jpg);
  border-color: #ff9900;
  color: black;
}

.seccion-imagenes .G:hover{
  background-image: url(Imagenes/g1.jpg);
  border-color: #ff9900;
  color: black;
}
.seccion-imagenes .P:hover{
  background-image: url(Imagenes/p1.jpg);
  border-color: #ff9900;
  color: black;
}

/* ------------------------ */
.seccion-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  justify-content: center;
   /*align-items: center;*/
  height: 400;
  background-color: #3b2121;
}

.seccion-grid img{
  width: 100%; /* La imagen ocupa el 100% del ancho de su contenedor */
  max-width: 100%; /* Asegura que la imagen no se estire más allá de su tamaño natural */
  border-radius: 2px; /* Borde redondeado opcional */
}
.boton {
  text-align: center;
  padding: 15px;
  border: 2px solid #333;
  border-radius: 8px;
  cursor: pointer;
}

.boton img {
  max-width: 100%; /* Ajusta el tamaño de la imagen al contenedor del botón */
  height: auto;
  border-radius: 8px; /* Opcional: agrega bordes redondeados a las imágenes */
  margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.interes{
  
  height: 500px;
  background-color: #f0eeeb;
  margin-bottom: 20px;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;
}

.columna {
  float: left;
  width: 50%;
  padding: 10px;
}
.columna p{
  color: rgb(2, 2, 2);
}



.columna img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.footer{
  background-color: #00c3ff;
}


.footer {
  background-color:rgb(8, 71, 113);
  color: #fff;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.columna {
  flex: 1;
  max-width: 300px;
  padding: 0 10px;
}

.columna img {
  width: 170px;
  height: 170px;
  margin-right: 10px;
}

h4 {
  margin-bottom: 10px;
  border-bottom: 2px solid #00c3ff;
}

.columna ul li {
  margin-bottom: 10px; /* Espaciado de 10px entre elementos de la lista */
}
ul {
  list-style: none;
  
  padding: 0;
}

.social a {
  color: #fff;
  margin-right: 10px;
  
}







