* {
    list-style: none;
    box-sizing: border-box;
  }
  
  
  body {
    height: 145vh;
    position: relative;
    background-color: #fffefe;
    /*background: linear-gradient(45deg,#b4be2d,#4299c2,#3a8138);*/
   /* background-color: rgb(250, 249, 248);*/
    font-family: 'Garamond', 'Times New Roman', serif;
    color: #333;
    animation: cambiar 16s ease infinite;
  }
  
  #Header {
    background-color: rgb(8, 71, 113);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
     /* Puedes ajustar el color de fondo según tu diseño */
    z-index: 1000;
  }
  
  .logo {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .navigation {
    display: flex;
  }
  
  .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navigation li {
    margin-right: 20px;
    position: relative;
  }
  
  .navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    display: block;
    padding: 10px;
  }
  
  .navigation a:hover {
    color: #FFDD00;
  }
  
  .navigation ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border-radius: 0 0 5px 5px;
  }
  
  .navigation ul li:hover > ul {
    display: inherit;
  }
  
  .navigation ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
  }

  .infoCarreraOfertada h1 {
    margin: 0; /* Elimina el margen predeterminado del h1 */
  }
  .infoCarreraOfertada h1 {
    position: absolute;
    margin: 1; /* Con este le muevo mas arriba y no pegado a la parte inferior*/
    padding: 30px; /* Ajusta según tus necesidades el ancho del borde del texto */
    background-color: rgba(8, 71, 113, 0.80); /* Fondo semi-transparente para mejorar la legibilidad del texto */
    /*  background-color: rgba(39, 8, 90, 0.7); CON el 0.7 es la opacidad del color*/
    color: white;
    
  }


  

  .informacionLey{
    width: auto;
    height:130pxpx;
    background-color: #FFFFFF;

  }
  .informacionLey h2{
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
  }


  /* ---------------------------------------------------------- */
  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .button-container button {
    background-color: #009036; /* Color verde */
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }

  .button-container button:hover {
    background-color: #45a049; /* Cambio de color al pasar el mouse */
  }

  .popup {
    height: 540px;
    width: 980px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    text-align: right; /* Alinea el texto a la derecha para el botón de cerrar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow-x: auto; /* Desplazamiento horizontal */
  }

  .popup img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del popup */
    height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
  }

  .close-button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }

  .month-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .month-list-item {
    width: 23%; /* Para que haya cuatro elementos por fila */
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-top: 5px solid #2196F3; /* Borde superior azul */
    border-right: 5px solid #2196F3; /* Borde derecho azul */
    border-bottom: 5px solid #2196F3; /* Borde inferior azul */
    border-left: 5px solid #2196F3; /* Borde izquierdo azul */
  }

  .month-list-item a {
    text-decoration: none;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }

  .button-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    text-align: center; /* Centra los elementos */
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .button-list button {
    background-color: #009036; /* Color verde */
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }

  .button-list button:hover {
    background-color: #45a049; /* Cambio de color al pasar el mouse */
  }

 
  .popup p {
    margin: 10px 0;
  }

  .popup a {
    text-align: left;
  }

  .contentwrap  p a{
    display: flex;
    text-align: left;
    flex-direction: column;
  }

/* ---------------------------------------------------------- */
.footer {
    background-color:rgb(8, 71, 113);
    color: #fff;
    padding: 20px;
    }
    
    .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    }
    
    .columna {
    flex: 1;
    max-width: 300px;
    padding: 0 10px;
    }
    
    .columna img {
    width: 170px;
    height: 170px;
    margin-right: 10px;
    }
    
    h4 {
    margin-bottom: 10px;
    border-bottom: 2px solid #00c3ff;
    }
    
    .columna ul li {
    margin-bottom: 10px; /* Espaciado de 10px entre elementos de la lista */
    }
    ul {
    list-style: none;
    
    padding: 0;
    }
    
    .social a {
    color: #fff;
    margin-right: 10px;
    
    }