* {
    list-style: none;
    box-sizing: border-box;
  }
  
  
  body {
    height: 145vh;
    position: relative;
    background-color: #fffefe;
    /*background: linear-gradient(45deg,#b4be2d,#4299c2,#3a8138);*/
   /* background-color: rgb(250, 249, 248);*/
    font-family: 'Garamond', 'Times New Roman', serif;
    color: #333;
    animation: cambiar 16s ease infinite;
  }
  
  #Header {
    background-color: rgb(8, 71, 113);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
     /* Puedes ajustar el color de fondo según tu diseño */
    z-index: 1000;
  }
  
  .logo {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .navigation {
    display: flex;
  }
  
  .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navigation li {
    margin-right: 20px;
    position: relative;
  }
  
  .navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    display: block;
    padding: 10px;
  }
  
  .navigation a:hover {
    color: #FFDD00;
  }
  
  .navigation ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border-radius: 0 0 5px 5px;
  }
  
  .navigation ul li:hover > ul {
    display: inherit;
  }
  
  .navigation ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
  }
  /* INFO D OFERTADA */
  
  
  
  /* MATERIAS OFERTADA DE IDIOMAS*/
  .datosCarrera {
    width: 100%;
    height: 10%;
   
  }

  .barnav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .menuD {
    width: calc(30% - 2px);
    height: 58%;
    background-color: #C02126;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
  }

  .menuD:hover {
    background-color: #0076BD;
    color: rgb(8, 8, 8);
    transition: 0.5s;
  }

  .popup {
    position: fixed;
    height: 540px;
    width: 980px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #0076BD;
    border-radius: 5px;
    z-index: 1000;
    display: none;
  }



  .popup h1 {
   text-align: center;
   
   margin-bottom: 10px; /* Añade un margen inferior para separar del resto del contenido */
  }
  .popup h3 {
    text-align: center;
    
   }
   .popup h5 {
    text-align: center;
    
   }

  
  .popupContent {
    display: flex;
    justify-content: space-between;
  }

  .popupColumn1 {
    width: 60%; /* Ajusta el ancho de la primera columna según sea necesario */
    padding: 10px; /* Ajusta el espacio interno según sea necesario */
  }

  .popupColumn2 {
    width: 40%; /* Ajusta el ancho de la segunda columna según sea necesario */
    padding: 10px; /* Ajusta el espacio interno según sea necesario */
  }

  .popupImage {
    width: 100%; /* Ajusta el ancho de la imagen según sea necesario */
    border-radius: 5px; /* Añade bordes redondeados a la imagen */
  }
  .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .Oferta{
    text-align: center;
  }
    /* -------------------INFORMACION DE LA CARRERA --------*/
    .informacion {
      display: grid;
      width: auto;
      /*Aqui muevo la distancia hacia abajo para separar de mi otra seccion o divs a continuacion*/
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%;
      /*gap: 10px;  Separacion de mis dos columnas */
      gap: 9px;
      padding: 2px; /*es centrar en todas las direcciones al centro*/
        
    }
    
    .info {
      /* No es necesario agregar estilos específicos para .info */
      background-color: #f2f2f2;
      flex: 1;  
      
      /*border: 2px solid #333; */
    }
  h1{
      margin-left: 10px;
      justify-content: center;
      margin-right: 10px;
  }
  p{
      margin-left: 10px;
      justify-content: center;
      margin-right: 10px;
  }
  hr {
    border: 1px solid #009036; /* Cambia el color a tu preferencia */
    background-color: #009036;
    margin: 20px 0; /* Aumenta o disminuye el espacio antes y después de la línea */
    height: 3px; /* Establece la altura de la línea en 0 para ocultar la línea predeterminada */
}

/* //////////////////////  SERVICIOS ///////////////////// */
.Servicios {
  width: 80%;
  height: 30%;
  margin: 0 auto;
}

.barnavS {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuS {
  width: 50%;
  height: 58%;
  background-color: #AD9218;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.menuS:hover {
  background-color: #0076BD;
  color: rgb(8, 8, 8);
  transition: 0.5s;
}
.popupD {
  display: none;
  position: fixed;
  height: 540px;
  width: 980px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  overflow-y: auto; /* Agregado para desplazamiento vertical */
  overflow-x: hidden; /* Opcional: si también necesitas desplazamiento horizontal */
}

.popupD p{
  text-align: justify;
}

.cerrar2 {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #db1414;
}



 
    /* ---------------------------------------------------------- */
    .footer {
      background-color:rgb(8, 71, 113);
      color: #fff;
      padding: 20px;
    }
    
    .container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    
    .columna {
      flex: 1;
      max-width: 300px;
      padding: 0 10px;
    }
    
    .columna img {
      width: 170px;
      height: 170px;
      margin-right: 10px;
    }
    
    h4 {
      margin-bottom: 10px;
      border-bottom: 2px solid #00c3ff;
    }
    
    .columna ul li {
      margin-bottom: 10px; /* Espaciado de 10px entre elementos de la lista */
    }
    ul {
      list-style: none;
      
      padding: 0;
    }
    
    .social a {
      color: #fff;
      margin-right: 10px;
      
    }
  